

.equipment {
    padding: 70px 0px;
}

.equipment-title {
    text-align: center;
    color: var(--color-red);
    font-size: 60px;
}

.equipment-text {
    text-align: center;
    color: var(--color-text-muted);
    margin-bottom: 40px;
    font-size: 30px;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.equipment-grid .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .equipment-grid {
        grid-template-columns: 1fr;
    }
}
