.hero {
    text-align: center;
    padding: 100px 0px;
    background:
        linear-gradient(
            rgba(0, 0, 0, .70),
            rgba(0, 0, 0, .75)
        ), url('../assets/images/homeCover.jpg') no-repeat center center;
    background-size: cover;
}

.hero h2.display {
    font-size: 44px;
    margin-bottom: 20px;
}

.hero p {
    color: white;
    max-width: 480px;
    margin: 0px auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .hero h2.display {
        font-size: 30px;
    }
}
