body {
    height: 100vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, .70),
            rgba(0, 0, 0, .75)
        ),
        url("../assets/images/index.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 15px;
}

.content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.content p {
    font-size: 25px;
    color: #D5D5D5;
    margin-bottom: 50px;
}
