
.timeline {
    padding: 70px 0px;
    border-bottom: 1px solid var(--color-border-subtle);
}

.section-tag {
    color: var(--color-red);
    font-size: 15px;
    text-transform: uppercase;
}

.timeline h2 {
    font-size: 50px;
    margin: 10px 0px;
}

.timeline p {
    color: var(--color-text-muted);
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}