.volunteer-intro {
    padding: 48px 0px 8px;
}

.volunteer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 40px 0px 56px;
}

@media (max-width: 700px) {
    .volunteer-grid {
        grid-template-columns: 1fr;
    }
}

